[Unit]
Description=TCP proxy gateway
After=syslog.target network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/sbin/proxy-gw 14514

[Install]
WantedBy=multi-user.target
